<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checklist Dashboard</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Checklist Results</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach((rule) => { %>
        <tr>
          <td><%= rule.id %></td>
          <td><%= rule.description %></td>
          <td class="<%= rule.status.toLowerCase() %>"><%= rule.status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
